/* z-index order */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Foldit:wght@600&display=swap');

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  --col-01: #7904EB;
  --col-02: #DEFE48;
  --col-03: #FF114F;
  --col-04: #36EBF2;
  --col-05: #FD00FE;
  --border: 3.5px solid var(--col-04);
}

h1{
  text-align: center;
  font-size: 100px;
  font-family: 'Bruno Ace SC', cursive;
  color: var(--col-04);
}

h2{
  text-align: center;
  font-family: 'Bruno Ace SC', cursive;
  color: var(--col-02);
  padding-top: 10px;
}

h3{
  text-align: left;
  font-family: 'Bruno Ace SC', cursive;
  color: var(--col-03);
}

a:link{
  color: var(--col-02);
  font-size: 110%;
}
a:visited{
  color: var(--col-03);
  font-size: 110%;
}
a:hover{
  color: var(--col-04);
  font-size: 110%;
}
a:active{
  color: var(--col-03);
  font-size: 110%;
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
}

.flex-container{
  display: flex;
}
.flex-child{
  flex: 1;
  margin: 10px;
}

.ProductBox{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  max-height: 500px;
  border: var(--border);
  font-family: 'Bruno Ace SC', cursive;
  border: 3.5px solid #FD00FE;
  padding: 10px;
  background-color: var(--col-04);
}

.FilterSection{
  background-color: var(--col-02);
  border: 3.5px solid #FD00FE;
  padding: 5px;
  position: fixed;
  cursor: pointer;
}

.FilterBox{
  color: var(--col-03);
  font-family: 'Bruno Ace SC', cursive;
}

.FilterButton{
  background-color: var(--col-05);
  padding: 10px 20px;
  color: var(--col-04);
  font-family: 'Bruno Ace SC', cursive;
  cursor: pointer;
  margin-top: 5px;
}

.FilterButton:active{
  background-color: var(--col-01);
  padding: 10px 20px;
  color: var(--col-04);
  font-family: 'Bruno Ace SC', cursive;
  cursor: pointer;
}

.SelectedFilter{
  color: var(--col-04);
}

.ProductImageContainer{
  display: relative;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ProductImg{
  display: block;
  height: 85%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg1{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg2{
  display: block;
  height: 90%;
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg3{
  display: block;
  height: 90%;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg4{
  display: block;
  height: 80%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg5{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg6{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg7{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg8{
  display: block;
  height: 80%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg9{
  display: block;
  height: 75%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg10{
  display: block;
  height: 85%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg11{
  display: block;
  height: 80%;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg12{
  display: block;
  height: 95%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg13{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg14{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg15{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg16{
  display: block;
  height: 95%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg17{
  display: block;
  height: 85%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg18{
  display: block;
  height: 85%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg19{
  display: block;
  height: 95%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg20{
  display: block;
  height: 90%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg21{
  display: block;
  height: 90%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg22{
  display: block;
  height: 80%;
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg23{
  display: block;
  height: 80%;
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg24{
  display: block;
  height: 80%;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg25{
  display: block;
  height:75%;
  width: 65%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg26{
  display: block;
  height: 90%;
  width: 65%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg27{
  display: block;
  height: 85%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg28{
  display: block;
  height: 85%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg29{
  display: block;
  height: 85%;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg30{
  display: block;
  height: 90%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg31{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg32{
  display: block;
  height: 95%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg33{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg34{
  display: block;
  height: 85%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg35{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg36{
  display: block;
  height: 85%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg37{
  display: block;
  height: 85%;
  width: 65%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg38{
  display: block;
  height: 95%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg39{
  display: block;
  height: 80%;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg40{
  display: block;
  height: 80%;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg41{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg42{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg43{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg44{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg45{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg46{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg47{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg48{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg49{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg50{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}