/* z-index order */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Foldit:wght@600&display=swap');

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  --col-01: #7904EB;
  --col-02: #DEFE48;
  --col-03: #FF114F;
  --col-04: #36EBF2;
  --col-05: #FD00FE;
  --border: 3.5px solid var(--col-04);
}

h1{
  text-align: center;
  font-size: 100px;
  font-family: 'Bruno Ace SC', cursive;
  color: var(--col-04);
}

h2{
  text-align: center;
  font-family: 'Bruno Ace SC', cursive;
  color: var(--col-02);
  padding-top: 10px;
}

h3{
  text-align: left;
  font-family: 'Bruno Ace SC', cursive;
  color: var(--col-03);
}

a:link{
  color: var(--col-02);
  font-size: 110%;
}
a:visited{
  color: var(--col-03);
  font-size: 110%;
}
a:hover{
  color: var(--col-04);
  font-size: 110%;
}
a:active{
  color: var(--col-03);
  font-size: 110%;
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 2vw;
}

.flex-container{
  display: flex;
}
.flex-child{
  flex: 1;
  margin: 10px;
}

.ProductBox{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  max-height: 500px;
  border: var(--border);
  font-family: 'Bruno Ace SC', cursive;
  border: 3.5px solid #FD00FE;
  padding: 10px;
  background-color: var(--col-04);
}

.FilterSection{
  background-color: var(--col-02);
  border: 3.5px solid #FD00FE;
  padding: 5px;
  position: fixed;
  cursor: pointer;
}

.FilterBox{
  color: var(--col-03);
  font-family: 'Bruno Ace SC', cursive;
}

.FilterButton{
  background-color: var(--col-05);
  padding: 10px 20px;
  color: var(--col-04);
  font-family: 'Bruno Ace SC', cursive;
  cursor: pointer;
  margin-top: 5px;
}

.FilterButton:active{
  background-color: var(--col-01);
  padding: 10px 20px;
  color: var(--col-04);
  font-family: 'Bruno Ace SC', cursive;
  cursor: pointer;
}

.SelectedFilter{
  color: var(--col-04);
}

.ProductImageContainer{
  display: relative;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ProductImg{
  display: block;
  height: 85%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg1{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg2{
  display: block;
  height: 90%;
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg3{
  display: block;
  height: 90%;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg4{
  display: block;
  height: 80%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg5{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg6{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg7{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg8{
  display: block;
  height: 80%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg9{
  display: block;
  height: 75%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg10{
  display: block;
  height: 85%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg11{
  display: block;
  height: 80%;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg12{
  display: block;
  height: 95%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg13{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg14{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg15{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg16{
  display: block;
  height: 95%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg17{
  display: block;
  height: 85%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg18{
  display: block;
  height: 85%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg19{
  display: block;
  height: 95%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg20{
  display: block;
  height: 90%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg21{
  display: block;
  height: 90%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg22{
  display: block;
  height: 80%;
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg23{
  display: block;
  height: 80%;
  width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg24{
  display: block;
  height: 80%;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg25{
  display: block;
  height:75%;
  width: 65%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg26{
  display: block;
  height: 90%;
  width: 65%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg27{
  display: block;
  height: 85%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg28{
  display: block;
  height: 85%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg29{
  display: block;
  height: 85%;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg30{
  display: block;
  height: 90%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg31{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg32{
  display: block;
  height: 95%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg33{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg34{
  display: block;
  height: 85%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg35{
  display: block;
  height: 90%;
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg36{
  display: block;
  height: 85%;
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg37{
  display: block;
  height: 85%;
  width: 65%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg38{
  display: block;
  height: 95%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg39{
  display: block;
  height: 80%;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg40{
  display: block;
  height: 80%;
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg41{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg42{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg43{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg44{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg45{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg46{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg47{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg48{
  display: block;
  height: 90%;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg49{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.ProductImg50{
  display: block;
  height: 85%;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}





/*POPUPS !!!!!!!!*/
/*POPUPS STYLING BELOW*/

body{
  background-color: #7904EB;
}
.popup{
  position:fixed;
  top:50%;
  left:40%;
  transform: translate(-50%,-50%);
  display: none;
}

.contentbox{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  /*width:fit-content;*/
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox .imgBx{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox .imgBx img{
  position: relative;
  max-width: 350px;
  align-items: center;
  border-radius: 20px;
}

.close{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}



/*POPUP 2*/


.popup1{
  position:fixed;
  bottom:10px;
  right:10px;
  display: none;
}

.contentbox1{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox1 .imgBx1{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox1 .imgBx1 img{
  position: relative;
  max-width: 350px;
  align-items: center;
  border-radius: 20px;
}

.close1{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}




/*POPUP 3*/


.popup2{
  position:fixed;
  bottom:300px;
  left:70px;
  display: none;
}

.contentbox2{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox2 .imgBx2{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox2 .imgBx2 img{
  position: relative;
  max-width: 350px;
  align-items: center;
  border-radius: 20px;
}

.close2{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}





/*POPUP 4*/


.popup3{
  position:fixed;
  bottom:70px;
  left:150px;
  display: none;
}

.contentbox3{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox3 .imgBx3{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox3 .imgBx3 img{
  position: relative;
  max-width: 200px;
  align-items: center;
  border-radius: 20px;
}

.close3{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}



/*POPUP 5*/


.popup4{
  position:fixed;
  bottom:30px;
  left: 300px;
  display: none;
}

.contentbox4{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox4 .imgBx4{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox4 .imgBx4 img{
  position: relative;
  max-width: 400px;
  align-items: center;
  border-radius: 20px;
}

.close4{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}



/*POPUP 6*/


.popup5{
  position:fixed;
  top:10px;
  left:7px;
  display: none;
}

.contentbox5{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox5 .imgBx5{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox5 .imgBx5 img{
  position: relative;
  max-width: 400px;
  align-items: center;
  border-radius: 20px;
}

.close5{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}

/*POPUP 7*/


.popup6{
  position:fixed;
  top:60px;
  left:800px;
  display: none;
}

.contentbox6{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox6 .imgBx6{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox6 .imgBx6 img{
  position: relative;
  max-width: 400px;
  align-items: center;
  border-radius: 20px;
}

.close6{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}


/*POPUP 8*/


.popup7{
  position:fixed;
  top:40px;
  right:20px;
  display: none;
}

.contentbox7{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox7 .imgBx7{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox7 .imgBx7 img{
  position: relative;
  max-width: 400px;
  align-items: center;
  border-radius: 20px;
}

.close7{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}

/*POPUP 9*/


.popup8{
  position:fixed;
  top:40px;
  left:20px;
  display:none;
}

.contentbox8{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox8 .imgBx8{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox8 .imgBx8 img{
  position: relative;
  max-width: 370px;
  align-items: center;
  border-radius: 20px;
}

.close8{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}

/*POPUP 10*/


.popup9{
  position:fixed;
  bottom:40px;
  right:20px;
  display:none ;
}

.contentbox9{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox9 .imgBx9{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox9 .imgBx9 img{
  position: relative;
  max-width: 370px;
  align-items: center;
  border-radius: 20px;
}

.close9{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}

/*POPUP 11*/


.popup10{
  position:fixed;
  top:270px;
  left:470px;
  display:none ;
}

.contentbox10{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox10 .imgBx10{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox10 .imgBx10 img{
  position: relative;
  max-width: 370px;
  align-items: center;
  border-radius: 20px;
}

.close10{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}


/*POPUP 12*/


.popup11{
  position:fixed;
  top:70px;
  right:10px;
  display:none;
}

.contentbox11{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox11 .imgBx11{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox11 .imgBx11 img{
  position: relative;
  max-width: 370px;
  align-items: center;
  border-radius: 20px;
}

.close11{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}

/*POPUP 13*/


.popup12{
  position:fixed;
  bottom:100px;
  left:520px;
  display:none;
}

.contentbox12{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox12 .imgBx12{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox12 .imgBx12 img{
  position: relative;
  max-width: 370px;
  align-items: center;
  border-radius: 20px;
}

.close12{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}

/*POPUP 14*/


.popup13{
  position:fixed;
  top:400px;
  right:500px;
  display:none;
}

.contentbox13{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox13 .imgBx13{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox13 .imgBx13 img{
  position: relative;
  max-width: 370px;
  align-items: center;
  border-radius: 20px;
}

.close13{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}

/*POPUP 15*/


.popup14{
  position:fixed;
  bottom:100px;
  left:520px;
  display:none;
}

.contentbox14{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox14 .imgBx14{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox14 .imgBx14 img{
  position: relative;
  max-width: 240px;
  align-items: center;
  border-radius: 20px;
}

.close14{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}


/*POPUP 16*/


.popup15{
  position:fixed;
  bottom:400px;
  right: 490px;
  display:none;
}

.contentbox15{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox15 .imgBx15{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox15 .imgBx15 img{
  position: relative;
  max-width: 370px;
  align-items: center;
  border-radius: 20px;
}

.close15{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}

/*POPUP 17*/


.popup16{
  position:fixed;
  top:200px;
  left: 490px;
  display:none;
}

.contentbox16{
  position:relative;
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px, rgba(0,0,0,0.1);
}

.contentbox16 .imgBx16{
  position:relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.contentbox16 .imgBx16 img{
  position: relative;
  max-width: 370px;
  align-items: center;
  border-radius: 20px;
}

.close16{
  position: absolute;
  top: 8px;
  right:9px;
  width: 23px;
  height: 23px;
  background: red url(popups/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
}