nav ol li a {
  color: var(--col-01);
  text-decoration: none;
  cursor: pointer;
  transition: 2s;
}
/* Means any <a> tag inside a <li> tag inside an <ol> tag inside a <nav> tag is affected. */

/* The 'pointer' cursor is the most suitable cursor for hovering over buttons. Unlike most other cursors 
which all have fancy changes and suggestions as to what their change in appearance means to the interface, 
the 'pointer' cursor simply suggests that you are hovering over something that is interactable - and that is
what the mode-switch button and navigation list items are, interactable items. This same reasoning is used 
for all sections where the 'pointer' cursor appears. */

/* I have changed the transition time of the navigation list as previously the list switched font-colour and 
appearance between modes at a different speed to the rest of the website. This gave the browser design a rather 
uneven and disorganised feeling and by making sure that the transition speed is the same, the operation of the 
webpage feels much neater and cleaner. */

nav ol li a:active {
  color: red;
  transition: 0.01s;
}
/* I have chosen to make the list items transition into a red colour (the same colour that the embedded links turn 
into when clicked) so as to keep consistent with the presently used colours in the webpage's design. By having the 
list items turn red when interacted with also tells the users that they have done something and that the website is 
responding, especially since the colour red stands out against the background-colour of both the light and dark modes. */

/* Because the previous <nav ol li a> has the transition speed of 2s, this also slowed down the rate at which the 
list items showed that they have been interacted with. To prevent this, I added in a much shorter transition time to 
<nav ol li a:active> so that it appears as though there was an instantaneous reaction from the list items being 
interacted with. */

.button {
  padding: 1rem;
  height: 4rem;
  flex-grow: 1;
  transition: background-color 5s, color 2s;
}
/* I had originally wished to input a toggle switch here by replacing the mode-button as a toggle-switch. 
This would most likely be more discreet as well as better convey that the switch can be interacted with to 
change the mode of the browser. Unfortunately, I am unsure as to whether this kind of change to the original 
coding of the website is allowed. So I have decided against this course of action. */

#mode-button:hover {
  background-color: var(--col-01);
  color: var(--col-02);
  transition: background-color 2s, color 1s;
}
/* I have included a background to appear around the mode-button when a cursor is hovered over it so that the 
users can have a preview as to what the next mode will look like. As such, when hovered over in each mode, the 
colours used for both the text and the background of the mode-button should be switching each time (dark becomes 
light becomes dark again, so on so forth). */

/* I chose to have a rectangular background appear when the mode-button is hovered over because the general style 
of the webpage is very simplistic and blocky. It is all hard and sharp edges, and so having a rounded or irregularly 
shaped background for the mode-button would cause it to stand out too much (not in the good way), as well as appear 
inconsistent to the rest of the webpage. */

/* As always, the colours chosen are still part of the colour palette, and to reflect how the dark and light modes 
will appear. */

.button:after {
  background-color: var(--col-01);
  color: var(--col-02);
  transition: background-color 2s, color 1s;
}
/* Because previously, without this section, the mode-button did not switch from a dark text to a light text and the 
background also remained as the previous mode's colour, the mode-button blended into the background, what with the font 
and webpage background being the same colour. I included this section so that when in the dark mode, the mode-button 
would be able to react the same way as it did in the light mode; switching the font-colour and a background appearing 
to showcase how the light mode would generaly appear. */

#mode-button {
  background-color: transparent;
  border: 0;
  color: var(--col-01);
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  font-size: 1rem;
}
