@font-face{
    font-family: 'Apple II';
    src: url('fonts/font.ttf');
}
/* I have, unfortunately, been unable to really download and use any new fonts for most of my assignments in and out of this course. 
I think this might have been one of the rare few times I actually managed to get this font to work.

Anyways, this font was chosen because it had that nice, terminal-font look that is really reminiscent of how computers were stylised 
in ye olden days - the 1970s. Or at least, how the media has portrayed them. This style is vital since I am basing my project off of 
early text-based adventure games like Zork. */

h1 {
    text-align: center;
}

button {
    color: #dbdbdb;
    text-shadow: 0 0 4px #dbdbdb;
    font-size: 2.2vh;
    font-family: 'Apple II';
    line-height: 4vh;
    background-image: radial-gradient(#262626, #262626 120%);
    display: block;
    margin-top: 1vh;
    cursor: pointer;
}
/* The buttons are made to be a similar colour to the actual background because I want to give the entire thing an early-in-the-computing-days 
kind of feel. I also wanted the entire thing to be a bit unsettling and dreary - a look into a dystopian(?) future where therapy sessions are 
now performed by AI cause humans are all out of a job maybe - and so the dark, one-note, analogous colours help in making the interactive 
experience just that bit more creepy. The buttons do still stand out enough to be visible against the background without having to strain your 
eyes, unless of course your eyes are very bad at picking up hues. */

input {
    color: #dbdbdb;
    text-shadow: 0 0 4px #dbdbdb;
    font-size: 2vh;
    font-family: "Apple II";
    /* text-transform: uppercase; */
    /* I was planning on having the text for the name to always be inputted in uppercase letters, but then I couldn't and didn't have the time 
    to figure out how to keep it in uppercase letters throughout the rest of the experience, so I had to scrap that idea to keep the continuity 
    of the experience's styling. */
    line-height: 4vh;
    background-image: radial-gradient(#262626, #262626 120%);
    display: block;
    margin-top: 1vh;
    cursor: pointer;
}
/* The input name function is present once in the entire experience and never shows again, but it's important since it is what the users will type 
their name into. Now, if I were more familiar with coding, and this not need to be a website, I would've liked to do something similar to what a 
game called Doki Doki Literature Club (it's a horror game) does and pull the user's name out of their account or something to amp up the creep factor. 
Unfortunately, i can't do that, so everyone gets to put their names in themselves instead. 

Unfortunately I haven't had the time to figure out how to make the enter button work when inputting a name so users will have to ignore their instinctive 
behaviour of pressing that and press the button below instead. :(  But it's okay because I made sure the instructions were clear on what to do. I hope. 

Colour choices were made for the same reason as the buttons. I didn't want anything to stick out too much against the terminal-esque look I was going for. */

body {
    color: #dbdbdb;
    text-shadow: 0 0 4px #dbdbdb;
    font-size: 2.2vh;
    font-family: 'Apple II';
    line-height: 4vh;
    background-image: radial-gradient(#323232, #000000 120%);
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
}
/* I wanted to emulate the appearances of early computer terminals with their white-text-on-black-background look. I'm a fan of analogue horror, 
and I believe this styling helps create the same unsettling feeling those tend to have, especially with the faint glow/shadow I have applied for 
the text portions. It should remind one of the feeling of staring at an old tv at night with all the lights turned off, the only thing giving off 
light being the screen. Stare long enough and it's like you've been sucked in. That kind of unsettling feeling. It's hard to descrive with words, 
but if I've managed to capture any of that I'll consider it an accomplishment. */
  
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(#32323288 0.5vh, #0000000d 0.8vh);
    z-index: -1;
}
/* This is made so that the old terminal-like quality and appearance is further enhanced. If you look closely enough at some terminal screens, there 
are these thin lines that repeatedly run horizontally across the screen. It's a minor detail, but I have decided to add it to further enhance the style 
and look I'm aiming for. 'The devil is in the detail' and all that, after all. */

/* Nothing else is really added to the CSS file cause I'm a big believer of 'less is more' for this project. */
